<div class="container">
    <div class="main_paragraph_days">
        <div class="demostrationBtn">
            <button class="orange" type="submit"> Need more waiters</button>
            <button class="green" type="submit"> Enough waiters</button>
            <button class="red" type="submit"> Too much waiters</button>
        </div>
        <h2>Waiter's Schedule are as follows</h2>
        <div class="paragraph_admin" style="color: #EEEEEE;">
            <div class="errorMsgsRegister">
                <div class="successReg" id="success">
                    <h4> {{messages.success}} </h4>
                </div>
                <div class="errorReg" id="error">
                    <h4> {{messages.error}} </h4>
                </div>
            </div>
            <div class="secondParagraphOfAdmin">
                <div class="theMiddleClass">
                    <div class="paragraph" style="color: #EEEEEE;">
                        <table>
                            {{#each daysColor}}
                            <th>
                                <div class="{{color}}">{{days_of_week}}</div>
                            </th>
                            {{/each}}

                            <tr>
                                <td>
                                    {{#each daysOfTheWaiters}}
                                    {{#each Monday}}
                                    <li>{{this}}</li>
                                    {{/each}}
                                    {{/each}}
                                </td>
                                <td>
                                    {{#each daysOfTheWaiters}}
                                    {{#each Tuesday}}
                                    <li>{{this}}</li>
                                    {{/each}}
                                    {{/each}}
                                </td>
                                <td>
                                    {{#each daysOfTheWaiters}}
                                    {{#each Wednesday}}
                                    <li>{{this}}</li>
                                    {{/each}}
                                    {{/each}}
                                </td>
                                <td>
                                    {{#each daysOfTheWaiters}}
                                    {{#each Thursday}}
                                    <li>{{this}}</li>
                                    {{/each}}
                                    {{/each}}
                                </td>
                                <td>
                                    {{#each daysOfTheWaiters}}
                                    {{#each Friday}}
                                    <li>{{this}}</li>
                                    {{/each}}
                                    {{/each}}
                                </td>
                                <td>
                                    {{#each daysOfTheWaiters}}
                                    {{#each Saturday}}
                                    <li>{{this}}</li>
                                    {{/each}}
                                    {{/each}}
                                </td>
                                <td>
                                    {{#each daysOfTheWaiters}}
                                    {{#each Sunday}}
                                    <li>{{this}}</li>
                                    {{/each}}
                                    {{/each}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <form action="/days" method="post">
                    <div class="adminScheduleWaiters">
                        <p class="smallParagraph">Select the waiters name and a day to update or delete his/her working days:</p>
                        <div class="namesAndDays">
                            <div class="waitersName">
                                <label for="waitersName" class="chooseName">Choose the name:</label>
                                <select name="waitersName" class="waitersName">
                                    <option value="" style="font-size: 16px;">Select the name</option>
                                    {{#each waitersNames}}
                                    <option value="{{id}}" name="{{firstname}}" style="font-size: 16px;">{{firstname}}
                                    </option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="waitersDays">
                                <label for="waitersDays" class="chooseDay">Choose the day:</label>
                                <select name="waitersDays" class="waitersDays">
                                    <option value="" style="font-size: 16px;">Select the day</option>
                                    {{#each theWeekDays}}
                                    <option value="{{id}}" style="font-size: 16px;">{{days_of_week}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="addAndDeleteBtns">
                            <div class="rescheduleWaiters1">
                                <button class="rescheduleWaiters" name="update" value="update" type="submit">Update a day</button>
                            </div>
                            <div class="deleteEachWaiter1"> 
                                <button class="deleteEachWaiter" name="clear" value="clear" type="submit">Delete each waiter</button>
                            </div>
                        
                    
                            </form>
                            <form action="/delete" method="post">
                                <div class="buttons">
                                    <button class="theDeleteBtn" type="submit">Delete all waiters</button>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>