<div class="container">
    <div class="main_paragraph_days">
        <h2>Waiter's Schedule are as follows</h2>
        <form action="/days" method="post">
            <div class="paragraph" style="color: gray;">
                <table>
                    {{#each theWeekDays}}
                        <th>
                            <input type="checkbox" name="days" value="{{id}}">{{days_of_week}}
                        </th>
                    {{/each}}  
                    
                    <tr>  
                        <td>     
                            {{#each daysOfTheWaiters}} 
                                {{#each Monday}}
                                    <li>{{this}}</li>
                                {{/each}}
                            {{/each}}
                        </td>
                        <td>  
                            {{#each daysOfTheWaiters}}    
                                {{#each Tuesday}}
                                    <li>{{this}}</li>
                                {{/each}}
                            {{/each}}
                        </td>
                        <td>  
                            {{#each daysOfTheWaiters}}    
                                {{#each Wednesday}}
                                    <li>{{this}}</li>
                                {{/each}}
                            {{/each}}
                        </td>
                        <td> 
                            {{#each daysOfTheWaiters}}     
                                {{#each Thursday}}
                                    <li>{{this}}</li>
                                {{/each}}
                            {{/each}}
                        </td>
                        <td>  
                            {{#each daysOfTheWaiters}}    
                                {{#each Friday}}
                                    <li>{{this}}</li>
                                {{/each}}
                            {{/each}}
                        </td>
                        <td>  
                            {{#each daysOfTheWaiters}}    
                                {{#each Saturday}}
                                    <li>{{this}}</li>
                                {{/each}}
                            {{/each}}
                        </td>
                        <td>  
                            {{#each daysOfTheWaiters}}    
                                {{#each Sunday}}
                                    <li>{{this}}</li>
                                {{/each}}
                            {{/each}}
                        </td>
                    </tr>
                </table>
            </div>
            {{!-- <button class="showBtn" type="submit"> Update days </button> --}}
        </form>
        <form action="/delete" method="post">
            <div class="buttons">
                <button class="deleteBtn" type="submit">Delete waiters</button>
            </div>
        </form>
    </div>
</div>
