<div class="container">
    <div class="main_paragraph_waiters">
        <h2>Waiters to choose the days</h2>
        <form action="/waiters" method="post">
            <div class="errorMsgs">
                <div class="success" id="success">
                    <h4> {{messages.success}} </h4>
                </div>   
                <div class="error" id="error">
                    <h4> {{messages.error}} </h4>
                </div> 
            </div>
            <div class="paragraph" style="margin-top: 2%;">
                <p for="firstname" class="details">Waiters Name: </p>
                <p for="code" class="uniqueCode" name="firstname">{{loginUniqueCode.firstname}} </p>  
            </div>

            <div class="paragraph" style="color: gray; font-size: 20px;">
                {{#each results}}
                    <input type="checkbox" name="days" value="{{id}}" {{check}}>{{days_of_week}}
                {{/each}}       
            </div>
            <button class="updateDays" type="submit"> Add days </button>
        </form>
    </div>
</div>